/*
   Helpers
   -----------------------------------------------------------------------------
   So handy, much dandy
*/

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

//  Flexbox Utilities
//  ----------------------------------------------------------------------------

.mo-flex {
  display: flex;
  flex-wrap: wrap;

  &.mo-jc-flex-start { justify-content: flex-start; }
  &.mo-jc-flex-end { justify-content: flex-end; }
  &.mo-jc-center { justify-content: center; }
  &.mo-jc-space-between { justify-content: space-between; }
  &.mo-jc-space-around { justify-content: space-around; }

  &.mo-ai-flex-start { align-items: flex-start; }
  &.mo-ai-flex-end { align-items: flex-end; }
  &.mo-ai-center { align-items: center; }
  &.mo-ai-stretch { align-items: stretch; }
  &.mo-ai-baseline { align-items: baseline; }

  &.mo-ac-flex-start { align-content: flex-start; }
  &.mo-ac-flex-end { align-content: flex-end; }
  &.mo-ac-center { align-content: center; }
  &.mo-ac-stretch { align-content: stretch; }
  &.mo-ac-space-between { align-content: space-between; }
  &.mo-ac-space-around { align-content: space-around; }
}

//  Misc. Utilities
//  ----------------------------------------------------------------------------

.margin-zero {
  margin: 0 !important;
}
.margin-bottom-zero {
  margin-bottom: 0 !important;
}
.margin-top-zero {
  margin-top: 0 !important;
}
.margin-left-zero {
  margin-left: 0 !important;
}
.margin-right-zero {
  margin-right: 0 !important;
}

.padding-zero {
  padding: 0 !important;
}
.padding-bottom-zero {
  padding-bottom: 0 !important;
}
.padding-top-zero {
  padding-top: 0 !important;
}
.padding-left-zero {
  padding-left: 0 !important;
}
.padding-right-zero {
  padding-right: 0 !important;
}
