// Shadows
%drop-shadow {
  box-shadow: 0 0 10px 2px $g2-kevlar;
}

%no-user-select {
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  -o-user-select: none !important;
  &, &:hover {
    cursor: default;
  }
}

/* Gradients */
@mixin gradient-h($startColor, $endColor) {
  background: $startColor;
  background: -moz-linear-gradient(left,  $startColor 0%, $endColor 100%);
  background: -webkit-linear-gradient(left,  $startColor 0%,$endColor 100%);
  background: linear-gradient(to right,  $startColor 0%,$endColor 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$startColor', endColorstr='$endColor',GradientType=1 );
}